pythorhead                      # lemmy support
PyYAML                          # YAML support
youtube_search_python           # YouTube searching
langdetect                      # detect language of YouTube posts